
.section-contact-cards {
    padding: 24px;
    width: 100%;
    box-sizing: border-box;
}
.contact{
    background-color: white;
    box-sizing: border-box;
}
.contact .info {
    width: 60%;
}
.contact .info p {
    margin: 0;
}
.contact .info p.title {
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 5px;
}
.contact .info p.subtitle {
    font-size: 25px;
    margin-bottom: 15px;
}
.contact .info .color-text {
    text-transform: uppercase;
    color: #FE3F9F;
}
.contact .info button {
    background-color: #FE3F9F;
    border-radius: 50px;
    width: 250px;
    height: 48px;
    border: none;
    color: white;
    font-size: 16px;
    margin-top: 40px;
}
.contact .contact-img {
    width: 40%;
    margin-right: 60px;
}
.contact-img img {
    width: 100%;
}
@media (max-width: 768px) {
    .contact .info {
        width: 100%;
    }
    .contact .contact-img {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 24px;
    }
}