
.section-comunidad-cards {
    padding: 24px;
    width: calc(100%);
    box-sizing: border-box;
}
.comunidad {
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
    border-left: 10px solid #FE7824;
    border-right: 10px solid #FE7824;
}
.comunidad h3 {
    font-size: 35px;
    margin-bottom: 16px;
    color: #FE7824;
    font-weight: 400;
}
.comunidad .image-comu {
    width: 35%;
}
.comunidad .image-comu img {
    width: 100%;
}
.comunidad .info {
    width: 65%;
    padding: 24px;
    margin-right: 24px;
}
.comunidad .info p {
    font-size: 18px;
    line-height: 24px;
}
@media (max-width: 1024px) {
    .comunidad {
        border-top: 10px solid #FE7824;
        border-bottom: 10px solid #FE7824;
        border-left: 0;
        border-right: 0;
    }
    .comunidad h3 {
        font-size: 30px;
    }
    .comunidad .image-comu {
        width: 100%;
    }
    .comunidad .info {
        width: 100%;
        margin-right:0;
    }
}