/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}


/* flex class */
.flex { display: flex; }
.flex-direction-column {flex-direction: column;}

.justify-center { justify-content: center; }
.justify-end { justify-content: flex-end; }
.justify-start { justify-content: flex-start; }
.justify-betwwen { justify-content: space-between; }

.align-center { align-items: center; }
.align-start { align-items: flex-start; }
.align-end { align-items: flex-end; }
.align-stretch { align-items: stretch; }

.w-100 { width: 100%;}

/* Paddding */
.pa4 { padding: 4px; }
.pa8 { padding: 8px; }
.pa12 { padding: 12px; }
.pa16 { padding: 16px; }
.pa20 { padding: 20px; }

.gradient-lineal {
    background: rgb(235,72,93);
    background: linear-gradient(90deg, rgba(235,72,93,1) 22%, rgba(254,120,36,1) 100%);
}
.gradient-lineal-pink {
    background: rgb(254,120,36);
    background: linear-gradient(90deg, rgba(254,120,36,1) 0%, rgba(254,63,159,1) 100%);
}
.shadow-card {
    box-shadow: -1px 8px 5px -3px rgba(0,0,0,0.2);
    -webkit-box-shadow: -1px 8px 5px -3px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 8px 5px -3px rgba(0,0,0,0.2);
}
.secondary-bg {
    background-color: #343434;
}
.center {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    position: relative;
}

/* Generales */
html, body {
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
}
h1, h2, h3, h4, ul {
    margin: 0;
    padding: 0;
}

.divider {
    background-color: #F35C47;
    border-radius: 16px;
    width: 100px;
    height: 6px;
}
.titulares h2 {
    font-size: 35px;
    margin: 0;
    padding-bottom: 0px;
    line-height: 35px;
    color: #343434;
}
.titulares-white h2 {
    font-size: 35px;
    margin: 0;
    padding-bottom: 0px;
    line-height: 35px;
    color: white;
}
.titulares-white p {
    font-size: 25px;
    color: white;
}
.flex-direction-column-mobile {flex-direction: row;}
@media (max-width: 768px) {
    .flex-direction-column-mobile {flex-direction: column;}
}