
.section-service-cards {
    background-color: #F2F2F2;
    padding: 60px 24px;
    width: 100%;
    box-sizing: border-box;
}
.valores {
    width: 100%;
    margin-top: 40px;
}
.valores article {
    background-color: white;
    width: calc(100% - 16px);
    margin: 8px;
    overflow: hidden;
    padding: 24px;
}
.valores article h4 {
    text-transform: uppercase;
}
.valores .bottom, .valores .center, .valores .top {
    display: flex;
}
.valores .top article:first-child {
    border-radius:20px 0 0 0;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 100;
}
.valores .bottom article:first-child {
    border-radius:0 0 0 20px;
}
.valores .bottom article:last-child {
    border-radius:0 0 20px 0;
    border-right: 2px solid #FE7824;
    border-bottom: 2px solid #FE7824;
}
.quievaloresnes article .img img {
    height: 40px;
    margin-bottom: 10px;
}

.gradient-lineal .info h4 {
    color: white;
}
.gradient-lineal .info p {
    color: white;
}

@media (max-width: 980px) {
    .valores .bottom, .valores .center, .valores .top {
        flex-direction: column;
    }
}
@media (max-width: 768px) {

}
@media (max-width: 600px) {

}