
.content-section {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}
.center-article {
    width: 100%;
    max-width: 1480px;
    padding: 60px 0 60px 0;
}
.search-container {
    width: 100%;
    max-width: 400px;
}

.content-section .content span{
    text-transform: uppercase;
}
.content-section .content h4{
    font-size: 35px;
    margin: 0;
    color: white;
    text-align: left;
}
.content-section .content p{
    color: white;
    line-height: 20px;
    margin: 0;
    padding-top: 5px;
}

.search-input {
    width: 100%;
    height: 48px;
    font-size: 12px;
    padding:20px; /* Espaciado para el ícono */
    border-radius: 50px 0 0 50px; /* Borde redondeado */
    border: none;
    outline: none;
    box-shadow: -6px 8px 13px -4px rgba(0,0,0,0.22);
    -webkit-box-shadow: -6px 8px 13px -4px rgba(0,0,0,0.22);
    -moz-box-shadow: -6px 8px 13px -4px rgba(0,0,0,0.22);
    box-sizing: border-box;
}

.material-symbols-outlined {
    position: relative;
    display: flex!important;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    border: 1px solid #0E104D;
    background-color: #0E104D;
    border-radius: 0 25px 25px 0;
    height: 48px;
    width: 60px;
    cursor: pointer;
    z-index: 99999;
}
.material-symbols-outlined:hover {
    opacity: 0.8;
}
@media (max-width: 968px) {
    .flex-direction-column-mobile {flex-direction: column;}
    .search-container {
        max-width: 100%;
        box-sizing: border-box;
    }
}