
.content-section {
    /* background-image: url(../../../assets/home/fondo-2.png); */
    background-position: 0px -60px;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background: rgb(235,72,93);
    background: linear-gradient(90deg, rgba(235,72,93,1) 22%, rgba(254,120,36,1) 100%);
}

.center-article {
    width: 100%;
    max-width: 1480px;
    padding: 60px 0 60px 0;
}
.card-circle {
    width: 100%;
    max-width: 250px;
    border-radius: 100%;
    background-color: white;
    height: 250px;
    margin: 45px 45px;
    transition: 1s;
}
.card-circle img {
    height: 80px;
}
.card-circle:hover {
    background: rgb(235,72,93);
    background: linear-gradient(90deg, rgba(235,72,93,1) 22%, rgba(254,120,36,1) 100%);
    transition: 1s;
}
.card-circle:hover > .text-hover {
    display: block;
}
.card-circle:hover > img {
    display: none;
}
.text-hover {
    display: none;
    color: white;
    font-size: 25px;
    text-align: center;
}

@media (max-width: 1380px) {
    .content-section {
        background-position: 0px -60px;
        background-size: contain;
    }
    .titulares {
        background: rgb(235,72,93);
        background: linear-gradient(90deg, rgba(235,72,93,1) 22%, rgba(254,120,36,1) 100%);
    }
}
@media (max-width: 1024px) {
    .flex-direction-column-mobile {flex-direction: column;}
    .content-section {
        background: rgb(235,72,93);
        background: linear-gradient(90deg, rgba(235,72,93,1) 22%, rgba(254,120,36,1) 100%);
    }
    .titulares {
        padding: 20px;
    }
}